<div class="background">
  <header>
    <h1>Prueba técnica para Assets</h1>
  </header>
  <main class="border border-1 border-black rounded">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary">Info clientes</button>
      <button type="button" class="btn btn-outline-success">Info gestores</button>
      <button type="button" class="btn btn-outline-info">Monto total</button>
      <button type="button" class="btn btn-outline-danger">Abono total</button>
    </div>
  </main>
  <footer>
    <h2>Creado por Cristian Durán</h2>
  </footer>
</div>