<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary" routerLink="/info-clientes">Info clientes</button>
    <button type="button" class="btn btn-outline-success" routerLink="/info-gestores">Info gestores</button>
    <button type="button" class="btn btn-outline-info" routerLink="/monto-total">Monto total</button>
    <button type="button" class="btn btn-outline-danger" routerLink="/abono-total">Abono total</button>
</div>