<div class="container">
  <div class="box">
      <div class="btn-group mb-2" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-info" routerLink="/">Volver</button>
      </div>
      <h3>Abono total:</h3>
      <p>El abono total recibido por cada cliente, sumando los abonos de todos
        los gestores los pagos asociados.</p>
      <div class="btn-group mb-2" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary" *ngFor="let cliente of clientes"
              (click)="update(cliente.nombre)">{{cliente.nombre}}</button>
      </div>
      <div class="container m-2" *ngIf="show">
          <h3>{{clienteActual}}</h3>
          <p>Monto: {{montoActual}}</p>
      </div>
  </div>
</div>
